
#stage {
  background-image: url("../img/42-76979845--1--kopie.png")!important;
  background-position: center;
  background-size: 1680px auto;
  height: 520px;
  margin: 0 auto;
  max-width: 1680px;
  overflow: hidden;
  width: 100%;
}