
/*--------------------  CSS reset  --------------------*/

*{
  margin: 0;
  padding: 0;
}

/*--------------------  Body --------------------*/

body {
  background-color: #FFF;
  color: #333;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding-top: 64px;
}

/*--------------------  Stage --------------------*/

#stage {
  background-image: url("../img/keyvisual-large-2x.jpg");
  background-position: center;
  background-size: 1680px 520px;
  height: 520px;
  margin: 0 auto;
  max-width: 1680px;
  overflow: hidden;
  width: 100%;
}

#stage-content {
  height: 520px;
  margin: 0px auto;
  max-width: 1300px;
  position: relative;
  width: 80%;
}

/*--------------------  Hexagon Lime Content --------------------*/

#hexagon-lime-content {
  position: absolute;
  top: 80px;
  z-index: 2;
}

h1 {
  color: #FFF;
  display: block;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  width: 436px;
}

.button-petrol {
  background-image: linear-gradient(to bottom, #008484 0, #007575 100%);
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
  color: #FFF;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  margin-top: 28px;
  padding: 14px 28px 14px;
  text-decoration: none;
}

.button-petrol:hover {
  background-image: linear-gradient(to bottom, #006B6B 0, #006B6B 100%);
  text-decoration: none;
}

/*--------------------  Hexagon Lime --------------------*/

#hexagon-lime {
  height: 1054px;
  left: -382px;
  opacity: 0.85;
  position: absolute;
  top: -600px;
  width: 942px;
  z-index: 1;
}

/*--------------------  Hexagon Petrol Content --------------------*/

.claim {
  bottom: 38px;
  color: #FFF;
  display: inline-block;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  position: absolute;
  right: 20px;
  width: 160px;
  z-index: 3;
}

/*--------------------  Hexagon Petrol --------------------*/

#hexagon-petrol {
  bottom: -230px;
  opacity: 0.85;
  position: absolute;
  right: -210px;
  z-index: 1;
}

/*--------------------  Hexagon Berry  --------------------*/

#hexagon-berry {
  background-image: url("../img/hexagon-berry.svg");
  height: 204px;
  left: 376px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 220px;
  width: 182px;
  z-index: 2;
}

.promo {
  color: #FFF;
  display: inline-block;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 80px;
  text-align: center;
  width: 146px;
}

.promo-small {
  font-size: 16px;
  line-height: 24px;
}
