/*--------------------  Main --------------------*/

a {
  font-family: 'Fira Sans', sans-serif;
}

h2 {
  font-size: 35px;
  color: #006567;
  text-align: center;
}

h3 {
  color: #006567;
  font-size: 20px;
  margin-bottom: 40px;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
}

li {
  font-size: 18px;
}

form {
  overflow: hidden;
}





/*--------------------  Header --------------------*/

span.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

#header {
  background-color: white;
  width: 100%;
  top: 0;
  position: fixed;
  padding-top: 13px;
  height: 64px;
  z-index: 10;
  border-bottom: 1px solid;
  border-color: #dadada;
}

#header .container {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  min-width: 738px;
  max-width: 1081px;
  padding-left: 15px;
  padding-right: 15px;
}

#logo {
  float: left;
}

#logo img {
  height: 30px;
}

#header-menu {
  float: right;
}

#header-menu ul {}

#header-menu ul li {
  float: left;
  list-style: none;
  margin-left: 20px;
  display: block;
  margin-top: 7px;
}

#header-menu ul li a {
  border: 0px solid;
  padding: 7px;
  background: linear-gradient(to top, #b2d700, #bee300);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: #4c4c4c;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  font-weight: 500;
  text-decoration-color: initial;
}



/*--------------------  Main --------------------*/

#main {}

#main p {}

.block {
  padding-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 738px;
  margin: 0 auto;
  max-width: 1111px;
}

.block-title {
  margin-bottom: 40px;
}

.block .conent-header {}






/*--------------------  Tabs --------------------*/

.tab {
    width: 100%;
    border-left: 1px solid;
    overflow: hidden;
    border-right: 1px solid;
    border-top: 1px solid;
}
.tablinks {
    float: left;
    width: 33.33%;
    border-bottom: 1px solid;
    border-right: 1px solid;
    box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tab-content-column {
  width: 50%;
  float: left;
}

.tab-content-title p {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 30px;
}

.tab-content-column p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 25px;
}

.tab-content-column ul {
  margin-left: 50px;
  line-height: 25px;
  margin-bottom: 15px;
}

.tab-content-column ul li {
  padding-left: 20px;
}

.tabs-banner {
  overflow: hidden;
  margin-top: 650px;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-color: #dadada;
}

.tabs-banner p {
  font-size: 16px;
}

.tabs-banner-content {
  position: relative;
  float: left;
  width: 33.33%;
  border-right: 1px solid;
  border-color: #dadada;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 250px;
  padding-top: 42px;
  padding-left: 64px;
  padding-right: 63px;
}

.tabs-banner-content:nth-child(3) {
  border: none;
}

.tabs-banner-img {
  position: absolute;
  bottom: 27px;
}

.partners-img {
  width: 163px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.block-button {
  width: 100%;
  overflow: hidden;
}

.block-button a {
  float: right;
  margin-left: 50px;
  font-size: 20px;
  color: white;
  background-color: #006567;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 50px;
}

.block-full {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #dadada;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: table;
}

.block-full .Tcolumns {
  padding-top: 32px;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: table-cell;
  width: 33.33%;
}

.block-full .Tcolumns:nth-child(2) {
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #dadada;
}





/*--------------------  Calc --------------------*/

#calc {
  border: 1px solid;
  border-color: #dadada;
  padding: 23px;
  display: table;
  width: 100%;
}

#calc .form-sign {
  font-size: 30px;
  padding: 5px;
  text-align: center;
  width: 5%;
  display: table-cell;
}

#calc .form-cell {
  width: 30%;
  display: table-cell;
  padding: 2px;
}

#calc .form-cell p {
  font-size: 16px;
}

#calc .form-cell input {
  font-size: 30px;
  border: 1px solid;
  border-radius: 6px;
  border-color: #dadada;
  width: calc(100% - 15px);
  margin-bottom: 19px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}

#calc .last-form-cell input {
  background-color: #9d125b;
  color: white;
  pointer-events: none;
}


/*--------------------  Show/Hide --------------------*/

.calc-button {
  float: right;
  padding-top: 20px;
}

#calcHeader {
  padding-top: 20px;
}

#calcCheck {
  display: none;
}

#calcCheck:not(:checked)~#calc {
  display: none;
}

#calcCheck:checked~#calc {
  display: block;
}

#calcCheck:not(:checked)~#calcHeader {
  display: block;
}

#calcCheck:checked~#calcHeader {
  display: none;
}

#calcCheck:not(:checked)~label img {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

#calcCheck:checked~label img {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#stage2 {
  background-image: url("../img/42-33312537.jpg");
  background-position: center;
  background-size: 1680px;
  height: 600px;
  margin: 0 auto;
  max-width: 1680px;
  overflow: hidden;
  width: 100%;
  margin-top: 50px;
}

#stage2 h2 {
  margin-left: 171px;
  margin-top: 80px;
  font-size: 30px;
  font-weight: 700;
  color: #303030;
  text-align: left;
  line-height: 40px;
}

#stage2 p {
  margin-left: 171px;
  font-size: 30px;
  font-weight: 400;
  color: #303030;
  line-height: 50px;
}

#stage2 .block-button a {
  float: left;
  margin-left: 171px;
  margin-top: 0;
}


/*-------------------- Footer --------------------*/
#footer {
  width: 100%;
  margin-top: 50px;
}

#footer .footer-first {
  height: 70px;
  background-color: #006568;
  overflow: hidden;
  width: 100%;
}

#footer .footer-second {
  background-color: #e0e0e0;
  width: 100%;
  overflow: hidden;
  display: table;
}

#footer .footer-column {
    float: left;
    width: auto;
    display: table-cell;
    padding: 20px;
    margin-right: 30px;
}

#footer .footer-column p {
    font-size: 16px;
}

#footer .footer-column:nth-child(1) {
margin-left: 50px;
}

#footer .footer-column ul {
  list-style: none;
}

#footer .footer-column ul a {
    color: #006568;
    text-decoration: none;
    line-height: 30px;
    font-size: 16px;
}

#footer .footer-third {
  height: 50px;
  background-color: #ececec;
  overflow: hidden;
  width: 100%;
}

#footer a.feedback-button {
    border: 0px solid;
    padding: 7px;
    background: linear-gradient(to top, #b2d700, #bee300);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: #4c4c4c;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    font-weight: 500;
    text-decoration-color: initial;
    float: right;
    margin-right: 70px;
    margin-top: 17px;
    font-size: 18px;
}
/*-------------------- Contact Form --------------------*/
#contact-form{
  position: relative;
  margin-top: 50px;
}
#contact-form-button{

}
#contact-form .block-button a{
  margin-top: 0px; 
}

#contact-form-wrapper {
  padding: 24px;
  border: 1px solid;
  border-color: #dadada;
  background-color: white;
  position: relative;
  display: none;

}

#contact-form-wrapper .close-button{
  position: absolute;
  top:0;
  right: 0;
  padding: 30px;

}

#contact-form-wrapper .close-button a{
  color: black;
  text-decoration: none;
  font-size: 30px;
}

#contact-form-inner .contact-form-miniblock {
  float: left;
  width: 33.33%;
  margin-bottom: 30px;
}

#contact-form-inner p {
  margin-bottom: 5px;
}

#contact-form-inner input {
  font-size: 20px;
  font-weight: 500;
  border-radius: 7px;
  border: 1px solid;
  border-color: #dadada;
    padding-top: 10px;
  padding-bottom: 10px;
    padding-left: 10px;

}

#contact-form-inner input.button {
  background-color: #b8dd00;
  border: none;
  color: white;
  padding-left: 38px;
  padding-right: 38px;
}







