
/*--------------------  CSS reset  --------------------*/

*{
  margin: 0;
  padding: 0;
}

/*--------------------  Body --------------------*/

body {
  background-color: #FFF;
  color: #333;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding-top: 64px;
}

/*--------------------  Stage --------------------*/

#stage {
  background-image: url("../img/keyvisual-small-2x.jpg");
  background-position: center;
  background-size: 479px 380px;
  height: 380px;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

#stage-content {
  height: 380px;
  margin: 0px auto;
  max-width: 420px;
  position: relative;
  width: 88%;
}

/*--------------------  Hexagon Lime Content  --------------------*/

#hexagon-lime-content {
  position: absolute;
  top: 30px;
  z-index: 2;
}

h1 {
  color: #FFF;
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  width: 160px;
}

.button-petrol {
  background-image: linear-gradient(to bottom, #008484 0, #007575 100%);
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
  color: #FFF;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  margin-top: 16px;
  padding: 6px 20px 6px;
  text-decoration: none;
}

.button-petrol:hover {
  background-image: linear-gradient(to bottom, #006B6B 0, #006B6B 100%);
  text-decoration: none;
}

/*--------------------  Hexagon Lime --------------------*/

#hexagon-lime {
  height: 327px;
  left: -100px;
  opacity: 0.85;
  position: absolute;
  top: -90px;
  width: 288px;
  z-index: 1;
}

/*--------------------  Hexagon Petrol Content  --------------------*/

.claim {
  bottom: 20px;
  color: #FFF;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  position: absolute;
  right: -3px;
  width: 90px;
  z-index: 3;
}

/*--------------------  Hexagon Petrol  --------------------*/

#hexagon-petrol {
  bottom: -70px;
  height: 190px;
  opacity: 0.9;
  position: absolute;
  right: -65px;
  width: 172px;
  z-index: 1;
}

/*--------------------  Hexagon Berry  --------------------*/

#hexagon-berry {
  display: none;
}
