
/*--------------------  CSS reset  --------------------*/

*{
  margin: 0;
  padding: 0;
}

/*--------------------  Body --------------------*/

body {
  background-color: #FFF;
  color: #333;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding-top: 64px;
}

/*--------------------  Stage --------------------*/

#stage {
  background-image: url("../img/keyvisual-smallplus-2x.jpg");
  background-position: center;
  background-size: 737px 380px;
  height: 380px;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

#stage-content {
  height: 380px;
  margin: 0px auto;
  max-width: 640px;
  position: relative;
  width: 88%;
}

/*--------------------  Hexagon Lime Content  --------------------*/

#hexagon-lime-content {
  position: absolute;
  top: 48px;
  z-index: 2;
}

h1 {
  color: #FFF;
  display: block;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  width: 240px;
}

.button-petrol {
  background-image: linear-gradient(to bottom, #008484 0, #007575 100%);
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
  color: #FFF;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  margin-top: 18px;
  padding: 10px 24px 10px;
  text-decoration: none;
}

.button-petrol:hover {
  background-image: linear-gradient(to bottom, #006B6B 0, #006B6B 100%);
  text-decoration: none;
}

/*--------------------  Hexagon Lime --------------------*/

#hexagon-lime {
  height: 492px;
  left: -150px;
  opacity: 0.85;
  position: absolute;
  top: -210px;
  width: 440px;
  z-index: 1;
}

/*--------------------  Hexagon Petrol Content  --------------------*/

.claim {
  bottom: 18px;
  color: #FFF;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  position: absolute;
  right: 20px;
  width: 90px;
  z-index: 3;
}

/*--------------------  Hexagon Petrol  --------------------*/

#hexagon-petrol {
  bottom: -98px;
  height: 221px;
  opacity: 0.9;
  position: absolute;
  right: -65px;
  width: 200px;
  z-index: 1;
}

/*--------------------  Hexagon Berry  --------------------*/

#hexagon-berry {
  background-image: url("../img/hexagon-berry.svg");
  background-size: 117px 130px;
  height: 130px;
  left: 188px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 166px;
  width: 117px;
  z-index: 2;
}

.promo {
  color: #FFF;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 50px;
  text-align: center;
  width: 100px;
}

.promo-small {
  font-size: 12px;
  line-height: 24px;
}
