
/*--------------------  CSS reset  --------------------*/

*{
  margin: 0;
  padding: 0;
}

/*--------------------  Body --------------------*/

body {
  background-color: #FFF;
  color: #333;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding-top: 64px;
}

/*--------------------  Stage --------------------*/

#stage {
  background-image: url("../img/keyvisual-medium-2x.jpg");
  background-position: center;
  background-size: 1111px 420px;
  height: 420px;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

#stage-content {
  height: 420px;
  margin: 0px auto;
  max-width: 984px;
  position: relative;
  width: 77%;
}

/*--------------------  Hexagon Lime Content  --------------------*/

#hexagon-lime-content {
  position: absolute;
  top: 58px;
  z-index: 2;
}

h1 {
  color: #FFF;
  display: block;
  font-size: 26px;
  font-weight: 500;
  line-height: 32px;
  width: 300px;
}

.button-petrol {
  background-image: linear-gradient(to bottom, #008484 0, #007575 100%);
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
  color: #FFF;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  padding: 10px 24px 10px;
  text-decoration: none;
}

.button-petrol:hover {
  background-image: linear-gradient(to bottom, #006B6B 0, #006B6B 100%);
  text-decoration: none;
}

/*--------------------  Hexagon Lime --------------------*/

#hexagon-lime {
  height: 700px;
  left: -244px;
  opacity: 0.85;
  position: absolute;
  top: -360px;
  width: 608px;
  z-index: 1;
}

/*--------------------  Hexagon Petrol Content  --------------------*/

.claim {
  bottom: 30px;
  color: #FFF;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  position: absolute;
  right: 22px;
  width: 120px;
  z-index: 3;
}

/*--------------------  Hexagon Petrol  --------------------*/

#hexagon-petrol {
  bottom: -164px;
  height: 348px;
  opacity: 0.85;
  position: absolute;
  right: -138px;
  width: 306px;
  z-index: 1;
}

/*--------------------  Hexagon Berry  --------------------*/

#hexagon-berry {
  background-image: url("../img/hexagon-berry.svg");
  background-size: 148px 164px;
  height: 164px;
  left: 240px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 172px;
  width: 148px;
  z-index: 2;
}

.promo {
  color: #FFF;
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 60px;
  text-align: center;
  width: 140px;
}

.promo-small {
  font-size: 14px;
  line-height: 24px;
}
